body {
    /* display: flex; */
    background-color: #FFFFFF;
    /* align-items: center;
    justify-content: center; */
}

#display {
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 320px;
    height: 80px;
}

#display #displayValue {
    color: white;
    text-align: right;
    line-height: 80px;
    padding-right: 10px;
    font-size: 40px;
}

#operators {
    display: flex;
    width: 320px;
}

.operator {
    background-color: #E7E7E7;
    width: 80px;
    height: 80px;
    border: 1px solid #A9A9A9;
    font-size: 30px;
    align-items: center;
    margin: 0px;
    cursor: pointer;
}

.operator:hover {
    background-color: #D3D3D3;
}

.active {
    background-color: #FFB6C1;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
}

.number {
    background-color: #FFFFFF;
    border: 1px solid #A9A9A9;
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 0px;
    align-items: center;
    cursor: pointer;
}

.number:hover {
    background-color: #F5F5F5;
}

#pad {
    display: flex;
    width: 240px;
    height: 320px;
    flex-wrap: wrap;
}

.equal {
    background-color: #FA8664;
    align-items: center;
    height: 320px;
    cursor: pointer;
}

.equal:hover {
    background-color: #FFA07A;
}